.footerContainer {
  padding-top: var(--cv-border-width);
  padding-bottom: var(--cv-border-width);
  background: var(--gradient-mint);
  margin-top: 50px;
  min-height: 150px;
  text-align: center;
}

.inlineLogo {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 7px;
  height: 1em;
}